# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
fcm-d

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst

# dub
dub.selections.json

# MacOS
.DS_Store